<!DOCTYPE html>
<html>
  <%= render "shared/head" %>
  <body>
    <%= render "shared/header" %>
    <div class="container">
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <%= render "shared/footer" %>
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
