<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "logo", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "home", root_path %></li>
        <li><%= link_to "help", "#"%></li>
        <li><%= link_to "login", "#", data: { "toggle" => "modal", "target" => "#login_modal" } %></li>
      </ul>
    </nav>
  </div>
</header>

<%= render "shared/login_modal" %>
